html {
    background: url("../images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#center{
    text-align:center;
    height:97%;
    width:99%;
}

#about{
    float:right;
    float:bottom;
    color:black;
}
body{
    height:94vh;
}

